body
{
  font-family: 'Montserrat', sans-serif;
}
h1
{
  color: #4a4e69;
  font-family: 'Lugrasimo', cursive;
  font-size: 3rem;
  line-height: 1.5;
}
h2
{
  font-family: 'Mukta', sans-serif;
  font-size: 2.5rem;
  color: #495057;
}
h3
{
  font-family: 'Mukta', sans-serif;
  font-size: 2rem;
  color: #495057;
}



  #title
  {  background-color: #adb5bd;  }

  .container
  {  padding: 3% 3%;  }

  .navbar
  {  padding-bottom: 4.5rem;  }

  .navbar-brand
  {  font-family: 'Permanent Marker', cursive;
     font-size: 2.5rem;
     color: #f8f9fa;   }

  .nav-item
  {  color: #f8f9fa;
     font-size: 1rem;
     padding: 0 10px;  }

   #house
   {  height: 390px;
      width: 600px;
      position: relative;  }




   #features
   { text-align: center;   }

   .container-sm
   { padding-top: 2%;  }




   #about
   {  text-align: center;
      background-color: #ced4da;   }

   .carousel-item
   {  padding: 7% 15%;
      padding-bottom: 4%;    }

   .icon-color
   {  color: #4a4e69;    }

   .shinkai
   {  width: 15%;
      border-radius: 70%;
      margin: 20px 20px;   }

   .novels
   {  width: 75%;
      margin: 20px 20px;   }


.press-img{
  width: 15%;
  margin-left: 100px;
}
.press-imgg{
  width: 10%;
  margin-left: 100px;
}
#press{
  padding-bottom: 50px;
  background-color: #ced4da;
  text-align: center;

}





.mangas{
  font-family: 'Mukta', sans-serif;
  font-size: 2rem;
  color: #e9ecef;
}



.btn-primary{
  background-color: #4a4e69;
  border-color: #4a4e69;
}
.animee{
  text-align: center;
}
#anime{
  background-color: #e9ecef;
}
div.card {
    overflow: hidden;
}
.card {

    width: 100%;
    padding: 9px 20px 9px 20px;
    margin-bottom: 0px;
    background: #ffffff;
    box-shadow: 1px 1px 1px #dfdfdf;
    box-sizing: border-box;
    height: 100% !important;
  }
#manga{
  text-align: center;
  background-color: #495057;
  padding: 5% 15%;
  padding-bottom: 4%;

}
#footer{
  text-align: center;
  background-color: #495057;
  padding: 5% 15%;
  padding-bottom: 1%;
}
.f{
  color: #e9ecef;
}
